.table-scroll-head
{
    display: relative;
    height: calc(23vh - 20px);
    width: 93vw;
    overflow-x:auto;
    overflow-y:none;
 }
.head-table
{
    margin-left:50px;
    border: solid 1px black;
    height: 100%;
    width: 96.8%;
    border-collapse: collapse;
}

.form-input
{
    font-size: 14pt;
    width: 24%;
    border: none;
    border-bottom: solid 2px black;
}

.cell-input
{
    font-size: 2vmin;
    border: none;
    min-width: 13.6vw;
    min-height: 25px;
    padding: 0;
    margin: 0;
}

.head-table > tbody
{
    width: 100%;
}
.head-table > thead
{
    width: 100%;
}
.head-table > tbody > tr
{
    border: solid 1px black;
    width: 100%;
}
.head-table > thead > tr
{
    border: solid 1px black;
    width: 100%;
}
.head-table > tbody > tr > *
{
    display:table-cell;
    border: solid 1px black;
    border-right-width: 2px;
    border-left-width: 2px;
    font-size: 12pt;
}
.head-table > thead > tr > th
{
    border: solid 1px black;
    font-size: 2vmin;
    width: 14%;
}
.table-scroll
{
    display: relative;
    height: calc(70vh - 20px);
    width: 93vw;
    overflow-x:auto;
    overflow-y:auto;
 }
.main-table
{
    margin-left:50px;
    border: solid 1px black;
    height: 100%;
    width: 96.8%;
    border-collapse: collapse;
}
.main-table > tbody
{
    width: 100%;
}
.main-table > thead
{
    width: 100%;
}
.main-table > tbody > tr
{
    border: solid 1px black;
    width: 100%;
}
.main-table > thead > tr
{
    border: solid 1px black;
    width: 100%;
}
.main-table > tbody > tr > *
{
    display:table-cell;
    border: solid 1px black;
    border-right-width: 2px;
    border-left-width: 2px;
   font-size: 2vmin;
}
.main-table > thead > tr > th
{
    border: solid 1px black;
    font-size: 2.2vmin;
    width: 14vw;
}
